{% extends 'common/modal/base.html.twig' %}
{% block modalBody %}
    <div>
        <div id="map_canvas" style="height:400px;width:400px;"></div>
        <input type="text" id="latFld">
        <input type="text" id="lngFld">
    </div>
{% endblock %}