{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">

        <div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
            <div class="smallstat box">
                <i class="fa fa-users blue"></i>
                <span class="title">Utilisateurs enregistrés</span>
                <span class="value">542</span>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
            <div class="smallstat box">
                <i class="fa fa-download red"></i>
                <span class="title">Téléchargements</span>
                <span class="value">441</span>
            </div>
        </div><!--/col-->

        <div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
            <div class="smallstat box">
                <i class="fa fa-download green"></i>
                <span class="title">Téléchargements</span>
                <span class="value">441</span>
            </div>
        </div><!--/col-->

        <div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
            <div class="smallstat box">
                <i class="fa fa-star yellow"></i>
                <span class="title">Moyenne des notes</span>
                <span class="value">4,86</span>
            </div>
        </div><!--/col-->

    </div>
{% endblock %}