{# Pop up de chargement des données #}
<div id="modal-loading" class="modal fade" style="display: none;" aria-hidden="true" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Chargement des données</h4>
			</div>
			<div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">Chargement des données en cours...</span>
                    </div>
                </div>
			</div>

		</div>
	</div>
</div>