<div class="container">
    <!-- Affichage menu media queries -->
    <button data-target=".sidebar-nav.nav-collapse" data-toggle="collapse" type="button" class="navbar-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    
    <!-- Lien pour switcher d'écran -->
    <a class="hidden-xs open" id="main-menu-toggle"><i class="fa fa-bars"></i></a>
    
    <!-- Titre application -->
    <a href="{{ path('yeu_voyage_dashboard') }}" class="navbar-brand col-lg-2 col-sm-1 col-xs-12"><span><img alt="Yeu Voyage" class="" src=""></span></a>
		
    <!-- Menu haut droite -->
    <div class="nav-no-collapse header-nav">
        <ul class="nav navbar-nav pull-right">
            <!-- Menu utilisateur-->
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="btn account dropdown-toggle">
                    <div class="avatar"><img alt="avatar" src="{{ asset('img/avatar.jpg') }}"></div>
                    <div class="user">
                        <span class="hello">Bienvenue !</span>
                    </div>
                </a>
                <ul class="dropdown-menu">
					<li class="dropdown-menu-title"></li>
                    <li><a href="#"><i class="fa fa-user"></i> Profil</a></li>
					<li><a href="#"><i class="fa fa-line-chart"></i> Statistiques</a></li>
                    <li><a href="#"><i class="fa fa-users"></i> Utilisateurs</a></li>
					<li><a href="#"><i class="fa fa-power-off"></i> Se déconnecter</a></li>
				</ul>
			</li>
			<!-- Fin menu utilisateur -->
		</ul>
	</div>
	<!-- Fin menu droite -->
</div>